body {
  margin: 0;
}

html, body, #root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

button:not( :disabled ) {
  cursor: pointer;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

svg {
  fill: inherit;
}
